.header-sup {
    .sign-in {
        a {
            color: $color-grey;
            span {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .welcome-orders,
        .welcome-message {
            display: none;
        }
        .welcome-logout {
            text-decoration: underline;
            text-transform: lowercase;
            margin-left: 5px;
            color: #007bff;
            font-size: 15px;
        }
        &.logged {
            .welcome-sign-in,
            .welcome-sign-up {
                display: none;
            }
            .welcome-orders,
            .welcome-message {
                display: block;
            }
        }
    }
    .contact-us {
        span {
            font-size: 14px;
        }
    }
}

header {
    border-top: 2px solid $color-primary;
    .search {
        .busca {
            height: 49px;
            position: relative;
                
            &::before {
                content: '';
                width: 10%;
                height: 49px;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(-1px);
                background-image: url(//castropil.vteximg.com.br/arquivos/search.png);
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
                background-color: $color-primary;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                @media (max-width: 575px) {
                    width: 15%;
                }
            }

            .fulltext-search-box {
                display: inline-block;
                width: 90%;
                text-align: center;
                position: absolute;
                left: 0;
                margin: 0;
                border-right: 0;
                border-radius: 0;
                height: 49px;
                margin-left: -1px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                outline: 0;
                border-color: $color-medium-grey;
                color: $color-grey;
                font-weight: 500;
                padding: 0 20px;
                font-size: 14px;
                font-family: $font-primary;
                @media (max-width: 575px) {
                    width: 85%;
                }
            }

            .btn-buscar {
                display: inline-block;
                width: 10%;
                position: absolute;
                left: 90%;
                border-left: 0;
                border-radius: 0;
                height: 49px;
                background-color: transparent;
                border: 0;
                color: $color-light;
                margin-left: -1px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                outline: 0;
                font-size: 0;
                z-index: 1;
                @media (max-width: 575px) {
                    width: 15%;
                    left: 85%;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, .3);
                }
            }
        }
    }

    .minicart-icon-mobile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 15px;
        padding: 12px;
        cursor: pointer;
    }

    .custom-row-contact {
        border-left: 1px solid $color-medium-grey;
        height: 49px;

        p {
            max-width: 170px;
            font-size: 9px;
        }
    }

    .custom-row-header-socials {
        ul {
            margin-bottom: 10px;
        }
    }

    #menu-mobile {
        .menu-list-mobile {
            h3 {
                cursor: pointer;
                position: relative;
                &:after {
                    content: '+';
                    transition: .3s ease-in-out;
                    position: absolute;
                    font-size: 25px;
                    bottom: -2px;
                    right: 0;
                }
                &.clicked {
                    &:after {
                        transform: rotate(45deg);
                    }
                }
                a {
                    color: $color-dark;
                    text-decoration: none;
                }
            }
            ul {
                li {
                    margin-bottom: 10px;
                    a {
                        font-size: 13px;
                        line-height: 1;
                    }
                }
            }
        }
        .link-login,
        .link-orders {
            a {
                position: relative;
                text-decoration: none;
                &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #000;
                    position: absolute;
                    bottom: -2px
                }
            }
        }
    }
}

nav {
    div {
        h3 {
            margin: 0;
            a {
                font-size: 14px;
                color: $color-grey;
                &:hover {
                    color: $color-grey;
                    text-decoration: none;
                }
            }
            + .dropdown {
                z-index: 1;
                position: absolute;
                background: #fff;
                padding: 0 !important;

                left: 50%;
                transform: translateX(-50%);
                ul {
                    margin: 0;
                    padding: 15px;
                    li {
                        &:first-child {
                            padding-top: 10px;
                        }
                        width: 250px;
                        margin-bottom: 3px;
                        a {
                            font-size: 13px;
                            color: $color-grey;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        &:hover {
            .dropdown {
                display: block !important;
            }
        }
    }
}

.col-minicart {
    border-left: 1px solid $color-primary
}