.main-showcase {
    margin: 30px 0;
}

.ruler {
    @media (max-width: 768px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
        > div {
            padding: 0 !important;
        }
    }
}