#product-page {
    #product-content {
        .product-image {
            .apresentacao {
                #show {
                    .thumbs {
                        li {
                            a {
                                padding: 5px;
                                border: 1px solid #ccc;
                                background-color: $color-light;
                                &.ON {
                                    border-color: $color-dark;
                                }
                            }
                        }
                    }
                }
            }
        }
        .product-info {
            .product-name {
                margin-bottom: 15px;
                .productName {
                    font-size: 23px;
                    color: $color-grey;
                }
            }
            .codigo-avaliacoes {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                margin: 0;
                .codigo-produto {
                    padding: 0;
                    color: $color-grey;
                    span,
                    div {
                        font-size: 14px;
                    }
                }
                .avaliacoes {
                    #spnRatingProdutoTop {
                        &:after {
                            font-size: 14px;
                        }
                    }
                }
            }
            .price-box {
                padding-bottom: 7px;
                .plugin-preco {
                    .productPrice {
                        .descricao-preco {
                            margin-bottom: 0;
                            .valor-de {
                                font-size: 0;
                                strong {
                                    font-size: 14px;
                                    color: $color-grey;
                                }
                            }
                            .price-best-price {
                                .skuBestPrice {
                                    font-size: 35px;
                                    font-weight: 700;
                                    color: $color-primary;
                                }
                            }
                            .price-installments {
                                margin-top: 10px;
                                display: block !important;
                                span {
                                    color: $color-primary;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .economia-de {
                        color: $color-grey;
                        font-weight: 700;
                    }
                }
            }
            .pronta-entrega {
                font-size: 12px;
                font-weight: 700;
                color: #0a80c5;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 3px;
                }
            }
            .buy-button-box {
                .box-qtd {
                    display: none;
                }
                .buy-button {
                    background-color: $color-primary;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 20px;
                    width: 272px;
                    i {
                        display: none;
                    }
                }
            }
            .shipping-box {
                .shipping-box-title {
                    border: 1px solid #ccc;
                    display: inline-block;
                    padding: 10px 15px;
                    position: relative;
                    &:after {
                        content: '';
                        width: 100%;
                        height: 5px;
                        display: block;
                        background-color: $color-light;

                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
                #popupCalculoFreteWrapper {
                    display: none;
                }
                #calculoFrete {
                    .contentWrapper {
                        #ctl00_Conteudo_upnlContent {
                            .content {
                                fieldset {
                                    padding: 15px 10px;
                                    border: 1px solid #ccc;
                                    &:before {
                                        content: '';
                                        display: inline-block;
                                        width: 35px;
                                        height: 29px;
                                        background-image: url('//echeese.vteximg.com.br/arquivos/shipping.png');
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        vertical-align: middle;
                                        margin-right: 5px;
                                    }
                                    .prefixo {
                                        font-size: 0;
                                        line-height: 0;
                                        margin-bottom: 0;
                                        .freight-zip-box {
                                            border-radius: 0;
                                            margin-top: 0;
                                            width: 118px;
                                        }
                                    }
                                    .frete-calcular {
                                        .freight-btn {
                                            background-color: $color-primary;
                                            color: $color-light;
                                            position: relative;
                                            top: -1px;
                                            border-radius: 0;
                                            border: 0;
                                        }
                                    }
                                    .cep-busca {
                                        .lnkExterno {
                                            text-decoration: underline;
                                            color: $color-dark;
                                        }
                                    }
                                }
                                .freight-values {
                                    table {
                                        thead {
                                            tr {
                                                th {
                                                    font-size: 11px;
                                                    font-weight: 400;
                                                }
                                            }
                                        }
                                        tbody {
                                            tr {
                                                td {
                                                    padding: 15px;
                                                    font-size: 11px;
                                                    font-weight: 400;
                                                    background-color: #d7d7d7;
                                                    border: 5px solid #eaeaea;
                                                    &:last-child {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .product-description {
            .product-description-box {
                #description {
                    h2 {
                        border: 1px solid #d0d0d0;
                        width: 125px;
                        padding-top: 15px;
                        border-bottom: 0;
                        text-transform: uppercase;
                        color: #333;
                        font-family: "Arial";
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 0;
                        position: relative;
                        bottom: -1px;
                        background-color: #fff;
                        text-align: center;
                    }
                    .productDescription {
                        border-top: 1px solid #d0d0d0;
                        padding-top: 30px;
                        text-align: justify;
                        span,
                        strong {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
        #reviews {
            #lnkPubliqueResenha {
                background-color: $color-primary;
            }
        }
    }
}