#departamento{
    .alinhamento-texto {
        text-align: justify;
    }

    .id-title {
        margin-bottom: 20px;
    }

    .fachada-castropil {
        width: 100%;
        margin-bottom: 30px;
    }
    p{
        font-family: arial;
        font-size: 14px;
    }

}