#box-bread-brumb {
    margin: 0 15px 15px;
    ul {
        margin: 0;
        li {
            span {
                color: #999 !important;
            }
            &:before {
                content: '//';
            }
            &:first-child {
                margin-right: 0 !important;
                span {
                    text-transform: uppercase;
                    font-weight: 500;
                }
                a {
                    background-image: url(//castropil.myvtex.com/arquivos/home.png);
                    background-repeat: no-repeat;
                    margin-right: 0 !important;
                    background-size: contain;
                    vertical-align: middle;
                    display: inline-block;
                    font-size: 0;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}