.mini-cart {
    border-left: 1px solid $color-primary
}

.mini-cart .mini-cart-label {
    font-size: 0;
    background-image: url("//echeese.myvtex.com//arquivos/minicart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.mini-cart > a {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    position: relative;
    height: 100%;
    width: 91px;
    margin-left: auto;
}

.mini-cart > a > i:before {
    display: none
}

.btn-default .badge {
    background-color: #d9d9d9 !important;
    color: $color-primary;
    border-radius: 50%;
    position: absolute !important;
    top: 0 !important;
    left: 15px;
    right: 0 !important; 
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
}

#mini-cart-admake {
    box-shadow: none;
    border-radius: 0;
    top: 80px;
    width: 240px;
    padding-top: 30px;
    border: none;
    background: transparent;
}

#mini-cart-admake .mini-cart-footer {
    background: #fff;
    border-bottom: 5px solid #d0d0d0
}

#mini-cart-admake:before {
    display: none
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    background-color: $color-primary;
    border-radius: 0;
    text-transform: uppercase;
    width: 198px;
    height: 41px;
    padding: 0;
    line-height: 41px;
    margin: 0 auto;
}

#mini-cart-admake .mini-cart-itens {
    background: #f2f2f2
}

#mini-cart-admake .mini-cart-item .imagem {
    border: 1px solid #d0d0d0;
    max-width: 50px;
    height: auto
}

#mini-cart-admake .mini-cart-item .detalhes p {
    text-align: left;
    margin-left: 11px
}

#mini-cart-admake .mini-cart-item .detalhes p a {
    width: 86px;
    height: 13px;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    color: #535353;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
}

#mini-cart-admake .mini-cart-item .detalhes p:after {
    content: '...';
    display: inline-block
}

#mini-cart-admake .mini-cart-item .imagem img {
    max-width: 48px;
    height: auto;
}

#mini-cart-admake .mini-cart-item .detalhes .qtd-valor {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 11px;
}

#mini-cart-admake .mini-cart-item .qtd-valor .qtd,
#mini-cart-admake .mini-cart-item .qtd-valor .preco {
    color: #9c9c9c;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 400;
}

#mini-cart-admake .mini-cart-totais span {
    color: #535353;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 400;
}

#mini-cart-admake .mini-cart-totais span:after {
    content: '(sem frete):';
    margin-left: 5px
}

#mini-cart-admake #mini-cart-admake-total {
    color: #535353;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 400;
}

.portal-totalizers-ref {
    display: none;
}

#mini-cart-admake-aux {
    display: none !important;
}